*.gz
*.npy
*.joblib
*.h5
*.npz
results/
old-results/
data/**
.vscode
.idea
__pycache__
.pytest_cache
*.egg-info
*.cvs
.coverage
docs/build/
notebooks/.ipynb_checkpoints
1D_test
*.fits
3D_tests/
Position_regression/
Correlation_difference/
PNRIA/.ipynb_checkpoints/main_test-checkpoint.ipynb
